<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OC Discovery UI</title>
    <!--stylesheets-->
    <!-- bootstrap & fontawesome -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- OC Styles -->
    <link href="/stylesheets/css/discovery-ui.css" rel="stylesheet" type="text/css">
    <!--js-->
    <script type="text/javascript" src="/js/config-vars.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.1.0.min.js"-->
            <!--integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>-->
    <script type="text/javascript" src="/js/build/vendor/requirejs/require.js"></script>
    <script>
        try {
            var requireConfigObj = require(['/js/build/require/require-config.js']);
            require([requireConfigObj], function () {
                require(["/js/build/require/search.js"])
            });
        } catch (err) {
            console.log(err);
        }
    </script>
</head>
<body ng-controller="searchController">
<base href="/"/>
<div class="dl expand" role="main">
    <div class="dl-masthead expand row-fluid">
        <div class="language-select">
            <a ng-click="changeLanguage('fr')">FR</a> | 
            <a ng-click="changeLanguage('en')">EN</a>
        </div>
        <h1 class="libserif">
            <span translate>MAINPAGE_HEADER</span>
        </h1>
        <p><span translate>MAINPAGE_DESCRIPTION</span></p>
        <p></p>

    </div>
    <div class="expand dl-srch-grad">

        <div class="dl-srch-cont row-fluid">
            <div class="dl-search col-md-10 col-md-offset-1">
                <form name="dl-search" ng-submit="newSearch()">
                    <input id="dl-lang-input" type="hidden" name="lang" ng-model="language"/>
                    <input id="dl-srch-input" type="search" name="q" ng-model="terms" aria-label="Search Terms">
                    <button type="submit" value="search for terms" class="dl-search-btn" aria-label="Search">
                        <!-- magnifying glass svg -->
                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="dl-srch-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px"
                         height="24px" viewbox="33.333 33.333 333.333 333.333" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M150,66.667c46.667,0,83.334,36.667,83.334,83.333S196.667,233.334,150,233.334S66.667,196.667,66.667,150
                        S103.333,66.667,150,66.667 M150,33.333C85,33.333,33.333,85,33.333,150S85,266.666,150,266.666S266.666,215,266.666,150
                        S215,33.333,150,33.333L150,33.333z"/>
                            </g>
                        </g>
                        <g>
                            <polygon points="366.667,338.334 338.333,366.666 233.334,261.666 233.334,233.334 261.666,233.334 	"/>

                            <rect class="dl-srch-svg" x="229.839" y="210.379"
                                  transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 579.4046 240.7478)" fill="#FFFFFF" width="20"
                                  height="60"/>
                        </g>
                    </svg>
                    </button>
                    <mainpage-search-options></mainpage-search-options>
                </form>
            </div>
        </div>
    </div>
    <div class="expand dl-content"> <!-- Main Content Area Start -->
        <!-- start main DL Content -->
        <div id="cols-wrap" class="row-fluid dl-h100 expand">
            <a name="coltop"></a>

            <div id="col-nav" class="dl-facets dl-thm-solid-base" ng-controller="facetsController">
                <div class="dl-downarrow"></div>
                <!-- facets column -->
                <h4><span translate>FILTER_RESULTS</span></h4>
                <facet-opts></facet-opts>
                <div class="dl-ajax-loader ng-hide ng-fade-out" ng-show="!facetsLoaded">
                    <span class="dl-spinner"></span>
                </div>
                <facets f="f"></facets>
                <!-- <facet-opts></facet-opts> -->
            </div>
            <!-- end nav column -->
            <!-- results column -->
            <div id="col-results" class="expand">
                <mainpage-results-header></mainpage-results-header>

                <!--RESULTS-->
                <noscript>
                    <p class="dl-warning">
                        The Open Collections site requires JavaScript to function properly. Please
                        <a href="http://enable-javascript.com/" target="_blank">enable JavaScript</a>
                        in your browser, and try loading the page again.
                    </p>
                </noscript>

                <div ng-show="rUpdating" class="dl-ajax-loader ng-fade-out ng-fade-in">
                    <div class="dl-spinner"></div>
                </div>

            <span ng-if="!rUpdating && noTerms || !rUpdating && total===0" class="ng-cloak">This search didn't return any matches. You might enter a different query, modify your filters, or try an <a
                    ng-href="/html/adv-search.html" link-out>advanced search</a> to get better results.</span>

                <span ng-if="searchError" class="ng-cloak dl-warning dl-spaced-lrg">There has been an error. Please refresh the page or use the back button to try a new search.</span>

                <results-view class="ng-fade-out ng-fade-in" ng-show="!rUpdating || !noTerms || total>0"></results-view>

                <div pagination class="ng-fade-out ng-fade-in" ng-show="!rUpdating || !noTerms || total>0"></div>

                <div>&nbsp;&nbsp;
                    <a ng-href="{[{rssLink}]}" link-out=""><i class="fa fa-rss-square"></i>
                    </a>
                </div>

                <!-- end results column -->
            </div>
            <!-- end cols wrap -->
        </div>
    </div>
</body>
</html>