// //////////////////
// MODALS
// //////////////////

.dl-modal {

    @extend %border-rad-sm;

    position: fixed;
    border: 1px solid $gray5;
    background-color: #ffffff;
    z-index: 200;

    width: 960px;
    left: 50%;
    margin-left: -480px;

    top: 30px;
    bottom: 30px;

    @media #{$max-1200} {
        left: 50%;
        margin-left: -40%;
        width: 80%;
    }
    @media #{$max-979} {
        left: 50%;
        margin-left: -45%;
        width: 90%;
    }
}

.dl-modal-sm {

    @extend .dl-modal;
    @extend %borderbox;

    width: 600px;
    left: 50%;
    margin-left: -300px;
    
    top: 50%;
    bottom: auto;
    transform: translate(0, -50%);  
    
    text-align: center;

    padding: 24px;

}

.dl-modal-content {
    @extend %borderbox;
    height: 100%;
    overflow-y: scroll;
}

.dl-modal-top {
    // NOTE: when using modal-top, make sure to add padding equal to its height to the .dl-modal-content area
    @extend .dl-thm-light-base;
    border-bottom: 1px solid $gray3;
    padding: 12px;
    z-index: 201;

    position: absolute;
    left: 0;
    right: 0;

    a.close:hover{
        color: $bblue;
    }
}

.dl-modal-fade {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.7);
    // opacity: .70;
    // filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index:199;

}